/* Base Card Component */
.about-card {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    background-color: rgb(250, 250, 250);
    border-radius: 8px;

    cursor: pointer;

    box-shadow: 10px 5px 5px 5px rgb(207, 207, 207);
    border: 1px solid rgba(201, 201, 201, 0.568);

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* margin: 1em; */
}

.about-card > * {
    margin: 2em;
}

.about-card h1 {
    font-size: 28px;
}

.about-card p {
    font-size: 24px;
}

/* Answer Side */

/* Question Side */
#question {
    font-weight: bold;
}

/* Media Queries */
@media screen and (max-width: 740px) {
    .about-card h1 {
        font-size: 24px;
    }
    
    .about-card p {
        font-size: 20px;
    }
}

@media screen and (max-width: 580px) {
    .about-card h1 {
        font-size: 20px;
    }
    
    .about-card p {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .about-card h1 {
        font-size: 12px;
    }
    
    .about-card p {
        font-size: 12px;
    }
}