* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: auto;

    padding-bottom: 4em;
}

/* Cards */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;

    padding: 1em;

    grid-gap: 1em;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* width: 400px; */

    border: 1px solid rgb(239, 239, 239);
    border-radius: 12px;

    overflow: hidden;

    padding-bottom: 1em;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.250);

    cursor: pointer;

    color: black;
}

.card:hover {
    border: 1px solid rgba(78, 78, 78, 0.596);
}


.card-image {
    height: 300px;
}

.card-name {
    font-size: 20px;
    font-weight: 600;

    padding: 1em 1em;
}

.tags-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 0.6em;
    
    padding: 0 2em;
}

.tags {    
    border: 1px solid black;
    border-radius: 20px;
    padding: 2px 6px;
    font-size: 14px;
}

.tags:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}