/* Hero Section */
.hero-section {
    height: auto;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 4em 0;

    box-shadow: 10px 5px 5px 5px rgb(207, 207, 207);
    border: 1px solid rgba(236, 236, 236, 0.568);
}

.hero-container {
    height: 100%;
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    z-index: 5;
}

.heading h1{
    font-size: 44px; 
    font-weight: 600;
}

.heading h1 span {
    color: #f15858;
}

.subheading {
    line-height: 2;
}

.subheading span {
    color: rgb(250, 82, 82);
}

.hero-image {
    width: 400px;
    height: 400px;

    /* animation: bouncing 3s ease-in-out infinite; */
}

/* @keyframes bouncing {
    0% {transform: translateY(-20px);}
    50% {transform: translateY(20px);}
    100% {transform: translateY(-20px);}
} */

.hero-section a {
    color: black;
    text-decoration: none;
}

.arrow-down {
    width: 80px;
    height: 80px;
    margin-bottom: 4em;

    width: 100%;
    animation: bouncing-arrow-down 1.6s ease infinite;
}

@keyframes bouncing-arrow-down {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

#dancing-marshmallow-gif {
    position: absolute;
    opacity: 0;
    width: 160px;
    height: 160px;

    z-index: -1;
}

.heading:hover #dancing-marshmallow-gif{
    opacity: 1;
    transform: translate(-50%, -120%);
}

/* Media Queries */
@media screen and (max-width: 1440px) {
    .hero-image {
        width: 350px;
        height: 350px;
    }

    .hero-container {
        width: 65%;
    }

    .heading h1{
        font-size: 34px; 
    }

    .arrow-down {
        width: 60px;
        height: 60px;
        margin-top: 4em;
    }
}

@media screen and (max-width: 1024px) {
    .hero-container {
        width: 75%;
    }

    .hero-image {
        width: 300px;
        height: 300px;
    }

    .arrow-down {
        width: 50px;
        height: 50px;
        margin-top: 4em;
    }
}

@media screen and (max-width: 768px) {
    #dancing-marshmallow-gif {
        display: none;
    } 
    .hero-container {
        width: 85%;
    }

    .hero-image {
        width: 250px;
        height: 250px;
    }

    .heading h1{
        font-size: 30px; 
    }

    .subheading {
        font-size: 14px;
    }
}  

@media screen and (max-width: 600px) {
    .heading h1 {
        font-size: 20px;
    }

    .subheading {
        font-size: 12px;
    }

    .hero-image {
        width: 200px;
        height: 200px;
    }
}  

@media screen and (max-width: 425px) {
    .heading h1{
        font-size: 30px;
    }
    .subheading {
        font-size: 16px;
    }
    .hero-image {
        display: none;
    }
}


@media screen and (max-width: 320px) {
    .heading h1{
        font-size: 20px;
    }
    .subheading {
        font-size: 12px;
    }
}