/* Hero Section */
.hero-section {
    height: 90vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 10px 5px 5px 5px rgb(207, 207, 207);

    border: 1px solid rgba(236, 236, 236, 0.568);
    border-radius: 8px;

    margin: 0 12em;

    background-color: rgb(252, 252, 252);
}

.intro h1{
    font-size: 44px; 
    font-weight: 600;
    padding: 2em
}

.intro span {
    font-size: 38px; 
    font-weight: 800;
    display: block;
    color: rgb(250, 82, 82);
}

.astronaut {
    width: 400px;
    height: 400px;

    animation: bouncing-astronaut 3s ease-in-out infinite;
}

@keyframes bouncing-astronaut {
    0% {transform: translateY(-20px);}
    50% {transform: translateY(20px);}
    100% {transform: translateY(-20px);}
  }