/* Containers */
.about-information-section {
    background-color: rgba(224, 224, 224, 0.336);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-bottom: 8em;
}
.about-information-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 6em 0;
}

/* Resume */
#resume {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgb(141, 141, 141);
}
.resume-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 4em 0;
}
.resume-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2em;
}
#resume-button {
    border-radius: 8px;

    box-shadow: 10px 10px 10px rgb(141, 141, 141);
    
    background-image: linear-gradient(to right, rgb(255, 75, 75), rgb(230, 111, 14), rgb(255, 137, 27),rgb(255, 194, 27));
    color: white;

    padding: 1em 2em;

    font-size: 24px;
    font-weight: 700;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6em;

    width: 100%;
}

.resume-text-container p {
    font-size: 18px;
}


/* Certification Cards */
.certification-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 50%;
    height: auto;
}

.certification-section h2{
    font-size: 40px;
}

.certification-section p {
    font-size: 22px;
    padding: 1em 0;
}

.certification-section p span:nth-child(1){
    text-decoration: underline;
}

.certification-section p span:nth-child(2){
    color: red;
}

.certification-section p span:nth-child(3){
    font-style: italic;
}

.certification-section p span:nth-child(4){
    font-weight: bold;
}

.certification-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 350px));

    place-content: center;

    width: 100%;
    gap: 4em;

    padding: 1em;
}
.certification-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 288px;
    height: 240px;

    background-color: white;

    border: 1px solid rgb(239, 239, 239);
    border-radius: 12px;

    overflow: hidden;

    padding-bottom: 1em;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.250);

    cursor: pointer;
}

.certfication-card-image {
    height: 300px;
}

.certfication-card-name {
    font-size: 20px;
    font-weight: 600;

    padding: 1em 1em;
}

.icon-img {
    width: 200px;
    height: 200px;
}