* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.project-container {
    background-color: rgba(224, 224, 224, 0.336);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: auto;
}

#projects {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;

    padding: .4em;
    margin-top: 1em;

    width: 50%;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    place-items: center;

    width: 50%;
    gap: 4em;

    padding: 1em;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 400px;
    height: auto;

    border: 1px solid rgb(239, 239, 239);
    border-radius: 12px;

    overflow: hidden;

    padding-bottom: 1em;
}

.card:hover {
    box-shadow: 4px 2px 2px rgb(224, 224, 224);
}

.card-image {
    height: 300px;
}

.card-name {
    font-size: 20px;
    font-weight: 600;

    padding: 1em 1em;
}

.tags-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 0.6em;
    
    padding: 0 2em;
}

.tags {    
    border: 1px solid black;
    border-radius: 20px;
    padding: 2px 6px;
    font-size: 14px;
}

.tags:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}