/* Nav Bar */
.nav-section {
    width: 100%;
    height: 130px;

    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 10px 5px 5px rgb(207, 207, 207); */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
}

.logo {
    text-decoration: none;
    color: black;
}

.nav-items {
    display: flex;
    gap: 1em;
}

.nav-items a {
    border: 1px solid black;
    border-radius: 8px;

    color: black;

    padding: 1em 2em;
}

.nav-items a:hover {
    background-color: rgba(0, 0, 0, 0.062);
    color: black;
}

.nav-items a.active {
    border: 1px solid #646cff;
    color: #646cff;
}


/* Media Queries */
.hamburger-menu {
    display: none;
}

.hamburger-menu-button{
    width: 40px;
    height: 40px;
    background: transparent;
}

.sidebar-nav-container {
    width: 100vw;
    height: 1000vh;

    overflow: hidden;

    position: absolute;

    top: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.199);
}

.sidebar-nav {
    position: absolute;
    top: 0;
    right: 0;

    width: 80%;
    height: 85%;
    
    z-index: 1;

    background-color: rgb(221, 84, 84);
}

.sidebar-nav-items {
    position: relative;

    width: 100;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 1em;
}

.sidebar-nav-items a {
    color: white;

    padding: 1em 2em;
    border: 4px solid white;
    border-radius: 12px;

    font-size: 24px;
    font-weight: 500;

    transform: translateY(110px);
}

.sidebar-nav-items a.active {
    text-decoration: underline;
}



/* Media Queries */
@media screen and (max-width: 1440px) {
    .nav-container {
        width: 65%;
    }
}

@media screen and (max-width: 1024px) {
    .nav-container {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    .nav-container {
        width: 85%;
    }
}

@media screen and (max-width: 425px) {
    .nav-items {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    
    .sidebar-nav .hamburger-menu-button {
        position: absolute;
        display: block;

        top: 0;
        right: 0;
        
        margin: 2em;

        color: white;

        z-index: 1;
    }
}

@media screen and (max-width: 320px) {
    .social-links a > * {
        width: 30px;
        height: 30px;
    }
}