/* Nav Bar */
.nav-section {
    width: 100%;
    height: 130px;

    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 10px 5px 5px rgb(207, 207, 207); */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
}

.logo {
    text-decoration: none;
    color: black;
}

.nav-items {
    display: flex;
    gap: 1em;
}

.nav-items a {
    border: 1px solid black;
    border-radius: 8px;

    color: black;

    padding: 1em 2em;
}

.nav-items a:hover {
    background-color: rgba(0, 0, 0, 0.062);
    color: black;
}

.nav-items a.active {
    border: 1px solid #646cff;
    color: #646cff;
}


/* Media Queries */

.hamburger-menu {
    display: none;
}

.hamburger-menu-button-cross{
    width: 60px;
    height: 60px;
    background: transparent;

}

.hamburger-menu-button{
    width: 44px;
    height: 44px;
    background: transparent;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    right: 0;

    position: fixed;

    width: 100%;
    height: 100%;

    
    z-index: 1;

    background-color: rgb(168, 61, 61);
}

.sidebar-nav-items {
    position: relative;

    width: 100;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2em;
}

.sidebar-nav-items a {
    color: rgb(255, 255, 255);

    font-size: 46px;
    font-weight: 600;
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */

    transform: translateY(200px);
}

.sidebar-nav-items a.active {
    text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 1440px) {
    .nav-container {
        width: 65%;
    }
}

@media screen and (max-width: 1024px) {
    .nav-container {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    .nav-container {
        width: 85%;
    }

    .hamburger-menu {
        display: block;
    }
    
    .nav-items {
        display: none;
    }

    .sidebar-nav .hamburger-menu-button-cross {
        position: absolute;
        display: block;

        top: 0;
        right: 0;
        
        margin: 2em;

        z-index: 3;

        color: white;
    }
}

@media screen and (max-width: 320px) {
    .social-links a > * {
        width: 30px;
        height: 30px;
    }
}