* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.experience-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 50%;
    height: auto;

    padding-bottom: 4em;
}

.experience-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    /* grid-template-rows: repeat(auto-fill, 1fr); */
    align-items: center;
    grid-gap: 1em;
    padding: 1em;
}

.experience-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 1px solid rgb(239, 239, 239);
    border-radius: 12px;

    overflow: hidden;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.250);
}

.experience-card-name {
    font-size: 20px;
    font-weight: 600;

    padding: 1em 1em;
}

.experience-img {
    width: 100%;
    height: 100%;
}

/* Media Queries */
@media screen and (max-width: 1210px) {
    .experience-container {
        width: 60%;
    }
}