* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.experience-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: auto;

    padding-bottom: 4em;
}

.experience-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    place-items: center;

    width: 50%;
    gap: 4em;

    padding: 1em;
}

#experience {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;

    padding: .4em;
    margin: 1em 0;

    width: 50%;
}

.experience-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 250px;
    height: 250px;

    border: 1px solid rgb(239, 239, 239);
    border-radius: 12px;

    overflow: hidden;

    padding-bottom: 1em;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.250);

    cursor: pointer;
}

.experience-card:hover {
    border: 1px solid rgba(58, 58, 58, 0.596);
}

.experience-card-name {
    font-size: 20px;
    font-weight: 600;

    padding: 1em 1em;
}

.icon-img {
    width: 200px;
    height: 200px;
}