.error-page {
    position: relative;
    height: calc(100vh - 60px);
    width: 100%;
    overflow: hidden;
}

.canvas-bg {
    position: absolute;
    inset: 0;
}

.error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
    user-select: none;
    pointer-events: none;
}

.error-content h1 {
    font-size: 3em;
    font-weight: 700;
    color: rgb(37, 37, 37);
}

#sad-marshmallow {
    width: 180px;
}

.error-content p {
    font-size: 1em;
    color: rgb(37, 37, 37);
}

.error-content span {
    color: #f15858;
    font-weight: 600;
}
