.about-hero-section {
    height: 78vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 10px 5px 5px 5px rgb(207, 207, 207);

    border: 1px solid rgba(236, 236, 236, 0.568);
}

.about-hero-container {
    height: 100%;
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2em;
}

.about-heading h1{
    font-size: 44px; 
    font-weight: 600;
}

.about-subheading {
    line-height: 2;
}

.about-heading span {
    color: #f15858;
}

.about-subheading span{
    color: red;
}


.pfp-img {
    width: 340px;
    height: 340px;

    border-radius: 30px;
    border: 1px solid #e7e7e7;
    box-shadow: 6px 4px 10px rgb(197, 197, 197);
}

#thinking-emoji {
    position: absolute;
    opacity: 0;
    width: 100px;
    height: 100px;

    z-index: 1;
}



.about-heading:hover #thinking-emoji{
    opacity: 1;
    transform: translate(-50%, -110%);
}

/* Media Queries */
@media screen and (max-width: 1440px) {
    .about-hero-container {
        width: 65%;
    }
}


@media screen and (max-width: 1080px) {
    .about-hero-container  {
        width: 75%;
    }

    .pfp-img {
        width: 300px;
        height: 300px;
    }

    .about-subheading {
        font-size: 14px;
    }

    .about-heading h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px) {
    #thinking-emoji {
        display: none;
    }
    .about-hero-container  {
        width: 85%;
    }

    .pfp-img {
        width: 250px;
        height: 250px;
    }
}  

@media screen and (max-width: 605px) {
    .about-heading h1 {
        font-size: 30px;
    }
    .about-subheading {
        font-size: 20px;
    }

    .pfp-img {
        display: none;
    }
}  

@media screen and (max-width: 425px) {
    .heading h1{
        font-size: 30px;
    }
    .about-subheading {
        font-size: 16px;
    }
}


@media screen and (max-width: 320px) {
    .heading h1{
        font-size: 20px;
    }
    .subheading {
        font-size: 12px;
    }
}