.resume-hero-section {
    height: 62vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 6em 0;

    box-shadow: 10px 5px 5px 5px rgb(207, 207, 207);

    border: 1px solid rgba(236, 236, 236, 0.568);
}

.resume-hero-container {
    height: 100%;
    width: 54%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    align-items: center;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    gap: 2em;
}

/* .heading-container {
    border-radius: 30px;
    border: 1px solid #e7e7e7;
    box-shadow: 6px 4px 10px rgb(197, 197, 197);
    padding: 1em;
} */

.resume-heading h1{
    font-size: 44px; 
    font-weight: 600;
}

.resume-subheading {
    line-height: 2;
}

.resume-heading span {
    color: #f15858;
}

.resume-subheading span{
    color: red;
}

.code-thinker-image {
    width: 400px;
    height: 400px;
}


#thinking-emoji {
    position: absolute;
    opacity: 0;
    width: 100px;
    height: 100px;

    z-index: -1;
}



.resume-heading:hover #thinking-emoji{
    opacity: 1;
    transform: translate(-50%, -110%);
}

/* Media Queries */
@media screen and (max-width: 1440px) {
    .resume-hero-container {
        width: 65%;
    }   
}


@media screen and (max-width: 1080px) {
    .resume-hero-container  {
        width: 75%;
    }

    .resume-subheading {
        font-size: 14px;
    }

    .resume-heading h1 {
        font-size: 32px;
    }
    
    .code-thinker-image {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 768px) {
    #thinking-emoji {
        display: none;
    }
    .resume-hero-container  {
        width: 85%;
    }
    .code-thinker-image {
        width: 250px;
        height: 250px;
    }
}  

@media screen and (max-width: 605px) {
    .resume-heading h1 {
        font-size: 30px;
    }
    .resume-subheading {
        font-size: 20px;
    }
    .resume-hero-container {
        grid-template-columns: 1fr;
    }
    .code-thinker-image {
        display: none;
    }
}  

@media screen and (max-width: 425px) {
    .heading h1{
        font-size: 30px;
    }
    .resume-subheading {
        font-size: 16px;
    }
}


@media screen and (max-width: 320px) {
    .heading h1{
        font-size: 20px;
    }
    .subheading {
        font-size: 12px;
    }
}